<div class="container">
	<div class="row">
		<h1>Profile</h1>
		<hr>
		<div class="col-md-4" ng-controller="ProfileUpdateController">
			<form class="simple-form">
				<div class="form-group">
					<label>First Name:</label>
					<input style="float:right;" type="text" name="firstName" ng-model="user.first_name">
				</div>
				<div class="form-group">
					<label>Last Name:</label>
					<input style="float:right;" type="text" name="lastName" ng-model="user.last_name">
				</div>
				<div class="form-group">
					<label>Email:</label>
					<input style="float:right;" type="email" name="email" ng-model="user.email">
				</div>
				<div class="form-group">
					<label>Phone Number:</label>
					<input style="float:right;" type="text" name="phone" ng-model="user.phone" ng-maxlength="10" ng-minlength="10">
				</div>
				<div class="form-group">
					<label>Interests:</label>
					<input style="float:right;" type="text" name="interests" ng-model="user.interests" ng-list>
				</div>
				<input type="button" ng-click="reset()" value="Reset" />
				<input type="submit" ng-click="update(user)" value="Save" />
			</form>
		</div>
	</div>
</div>